@font-face {
  font-family: 'Shopia';
  src: url("./assets/fonts/shopia.ttf") format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --nav-heigth: 6rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: #F4EEF7;

  overflow: overlay;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#navigation .navigation-mobile {
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.navigation-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 1.8rem 2.5rem;
}

.open-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.4s;
}

.open-menu .bar {
  display: block;
  width: 25px;
  height: 1px;
  background-color: white;
  margin: 7px 0;
  transition: 0.4s;
  border-radius: 10px;
  z-index: 2;
}

.open-menu.open {
  transform: rotate(0deg);
}

.open-menu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.open-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.open-menu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.logo h1 {
  color: #F4EEF7;
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.logo span {
  color: #F4EEF7;
  font-family: Playfair Display;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-desktop {
  display: none;
}

.menu-navigation {
  position: fixed;
  top: 71px;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: right 0.3s ease;

  padding: 4.5rem 2.5rem 0;
  background: url("./assets/images/bg-menu-mobile.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;
}

.menu-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.menu-navigation ul li a {
  color: #494542;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu-navigation .social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 8rem 0 20rem

}

.menu-navigation .quote {
  display: flex;
  justify-content: center;
  padding: 2rem 0 4rem;
}

.menu-navigation .quote span {
  color: #494542;
  text-align: center;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.menu-close {
  padding-top: 1.6rem;
  padding-left: 2.5rem;
  color: #F4EEF7;
  font-family: Playfair Display;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-navigation.open {
  right: 0;
}

/* --------------------------------------------- HOME --------------------------------------------- */

#home .wrapper .content {
  padding: calc(var(--nav-heigth) + 8rem) 2.5rem 0 2.5rem;
}

#home .wrapper .content header p {
  color: #494542;
  font-family: Inter;
  font-size: .8rem;
  font-weight: 300;
}

#home .wrapper .content main h1 {
  color: #000;
  font-family: Shopia, serif;
  font-size: 5rem;
  font-weight: 400;
  padding: 1rem 0 1rem 0;
  width: clamp(300px, 50%, 500px);
}

#home .wrapper .content main p {
  color: #494542;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 200;
  width: clamp(300px, 50%, 500px);
}

#home .wrapper .content .button {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

#home .wrapper .content button {
  padding: .9rem 3.3rem .9rem 3.4rem;
  justify-content: center;
  align-items: center;
  background-color: #494542;
}

#home .wrapper .content button {
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #F4EEF7;
}


#home .wrapper .content button:active {
  background-color: #6c5b57;
  
}

#home .wrapper .img-home {
  position: relative;
  width: 100%; /* O tamanho do container pode ser ajustado conforme necessário */
  height: 770px;
  overflow: hidden;
}

#home .wrapper .img-home img {
  position: absolute;
  left: calc(50% - 275px); /* Deslocamento horizontal -275px (ajuste conforme necessário) */
  height: auto; /* Mantém a proporção da imagem */
  z-index: -1;
}

/* -------------------------------------------------------------------------------------- SERVICES ------------------------------------------------------------------------ */

#services .wrapper .content {
  padding: calc(var(--nav-heigth) + 2.5rem) 2.5rem 0;
}

#services .wrapper .content header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#services .wrapper .content header h2 {
  color: #494542;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

#services .wrapper .content header h1 {
  color: #494542;
  text-align: center;
  font-family: Playfair Display;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 4rem;
}

#services .wrapper .cards {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}

#services .wrapper .cards .card {
  padding: 4rem 1.5rem;
  background: #000;
  margin-bottom: 4rem;
}

#services .wrapper .cards .card h1 {
  color: #F4EEF7;
  text-align: left;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 2rem;
}

#services .wrapper .cards .card p {
  color: #F4EEF7;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

#services .wrapper .cards .card p span {
  font-weight: 400;
}

#services .wrapper .button {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

#services .wrapper button {
  padding: .9rem 1rem .9rem 1.1rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #494542;
}

#services .wrapper button {
  color: #494542;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

#services .wrapper button:active {
  scale: 0.9;
}


/* ----------------------------------------------------------------------------- PORTFOLIO ---------------------------------------------------------------------------------- */

#portfolio .wrapper {
  padding: calc(var(--nav-heigth) + 2.5rem) 2.5rem 0;
  background-color: #000;
}

#portfolio .wrapper header {
  padding: 2.5rem 0 0 0;
}

#portfolio .wrapper header h2  {
  color: #F4EEF7;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  padding-bottom: .5rem;
}

#portfolio .wrapper header h1 {
  color: #F4EEF7;
  text-align: center;
  font-family: Playfair Display;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#portfolio .wrapper .cards {
  text-align: center;
}

#portfolio .wrapper .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
 
}


#portfolio .wrapper .cards .card div {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
}

#portfolio .wrapper .cards .card div p {
  color: #FFF;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#portfolio .wrapper .cards .card span {
  color: #FAFAFA;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  padding-top: .5rem;
}

#portfolio .wrapper .button {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

#portfolio .wrapper button {
  padding: 0.9rem 3.3rem 1.1rem 3.1rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #F4EEF7;
}

#portfolio .wrapper button {
  color: #F4EEF7;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

#portfolio .wrapper button:active {
  scale: 0.9;
}

/* ----------------------------------------------------------------------------- ABOUT ---------------------------------------------------------------------------------- */

#about .wrapper {
  padding: calc(var(--nav-heigth) + 2.5rem) 2.5rem 0;
}

#about .wrapper header h2 {
  color: #494542;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

#about .wrapper header h1 {
  color: #494542;
  text-align: center;
  font-family: Playfair Display;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: .5rem;
}

#about .wrapper main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
  padding: 2rem 0;
}

#about .wrapper main p {
  color: #494542;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  max-width: 32.5rem;
}

#about .wrapper .img-sobre-mim {
  display: flex;
  justify-content: center;
  padding: .2rem 0 4rem;
}

/* ----------------------------------------------------------------------------- CONTACT ---------------------------------------------------------------------------------- */

#footer .wrapper {
  padding: 2.5rem 2.5rem 6rem;
  background-color: #000;
  color: #FFF;
}

#footer .wrapper header h2 {
  color: #F4EEF7;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

#footer .wrapper header h1 {
  color: #F4EEF7;
  text-align: center;
  font-family: Playfair Display;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#footer .wrapper .button {
  display: flex;
  justify-content: center;
  padding: 3rem 0 5rem;
}

#footer .wrapper button {
  padding: 0.9rem 0.8rem 0.7rem 0.8rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: transparent;
  border: 1px solid #F4EEF7;
}

#footer .wrapper button {
  color: #F4EEF7;
  text-align: center;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

#footer .wrapper .social-links{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 1024px) {
  body {
    overflow: auto;
  }

  #navigation .navigation-mobile .logo h1,
  #navigation .navigation-mobile .logo span {
    font-size: 3rem;
  }

  #navigation .navigation-mobile .btns-menu {
    display: none;
  }

  #navigation .navigation-mobile {
    padding: 2.4rem 10rem;
  }

  #navigation .navigation-mobile .nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navigation .navigation-mobile .nav-desktop ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  #navigation .navigation-mobile .nav-desktop ul li a {
    text-align: center;
    font-family: Inter;
    color: #F4EEF7;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0 .5rem;
  }

  #navigation .navigation-mobile .nav-desktop ul li a:hover {
    font-weight: 600;
  }



  /* --------------------------------------------------------------------------- HOME ----------------------------------------------------------------------------- */

  #home .wrapper  {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: calc(var(--nav-heigth)) 0 0 10rem;
  }

  #home .wrapper .content {
    padding: 0;
    width: clamp(791px, 50%, 700px); 
  }

  #home .wrapper .content header p {
    color: #494542;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }

  #home .wrapper .content main h1 {
    font-size: 8rem;
    width: clamp(503px, 50%, 700px);
  }

  #home .wrapper .content main p {
    font-size: 1.8rem;
    width: clamp(494px, 50%, 700px);
  }

  #home .wrapper .content .button {
    display: flex;
    justify-content: flex-start;
  }

  #home .wrapper .content .button button {
    padding: 1.5rem 4rem;
    font-size: 1.8rem;
    background-color: transparent;
    color: #494542;
  }
  
  #home .wrapper .content .button a{
    display: block;
    border: 1px solid #494542;
    position: relative;
    transition: all .50s;
  }
  
  #home .wrapper .content .button a button{
    position: relative;
    z-index: 1;
  }
  
  #home .wrapper .content .button a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #494542;
    transition: all .50s;
  }
  
  #home .wrapper .content .button button:hover{
    color: #fff;
  }
  
  #home .wrapper .content .button a:hover:after{
    width: 100%;
  }


  #home .wrapper .container {
    position: relative;
    height: 935px;
    width: 100vw;
    overflow: hidden;
  }

  #home .wrapper .img-home {
    position: absolute;
    top: 160px;
    left: calc(50% - 260px);
    z-index: -1;
    overflow: hidden;
    height: 100%;
  }

  #home .wrapper .img-home img {
      width: 700px;
      height: 825px;      
  }

  #services .wrapper {
    padding-top: 3rem;
  }
  
  #services .wrapper .content header h2 {
    font-size: 2rem;
  }

  #services .wrapper .content header h1 {
    font-size: 4rem;
    width: 63rem;
    margin: 0 auto;
  }

  #services .wrapper .cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }

  #services .wrapper .cards .card {
    
    padding: 6rem 4rem;
  }

  #services .wrapper .cards .card h1 {
    font-size: 4rem;
  }

  #services .wrapper .cards .card p {
    font-size: 1.6rem;
  }

  #services .wrapper .button {
    display: flex;
    justify-content: flex-end;
    padding-right: 8.3rem;
  }

  #services .wrapper .button button {
    padding: 1.5rem 4rem;
    font-size: 1.8rem;
    background-color: transparent;
    color: #494542;
  }
  
  #services .wrapper .button a{
    display: block;
    border: 1px solid #494542;
    position: relative;
    transition: all .50s;
  }
  
  #services .wrapper .button a button{
    position: relative;
    z-index: 1;
  }
  
  #services .wrapper .button a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #494542;
    transition: all .50s;
  }
  
  #services .wrapper .button button:hover{
    color: #fff;
  }
  
  #services .wrapper .button a:hover:after{
    width: 100%;
  }

  #portfolio .wrapper .content header h2 {
    font-size: 2rem;
  }

  #portfolio .wrapper .content header h1 {
    font-size: 4rem;
    width: 63.5rem;
    margin: 0 auto;
  }

  #portfolio .wrapper .cards {
    display: flex;
    justify-content: center;
    gap: 6rem;
  }

  #portfolio .wrapper .cards .card img {
    width: 32rem;
  }

  #portfolio .wrapper .button a button {
    font-size: 1.8rem;
    padding: 1.8rem 7.8rem;
  }

  #about .wrapper {
    padding: calc(var(--nav-heigth) + 7rem) 10rem 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #about .wrapper .container {
    width: 100%;
    padding-top: 8.3rem;
  }

  #about .wrapper .container  header h2 {
    font-size: 2rem;
    
  }

  #about .wrapper .container  header h1 {
    font-size: 4rem;
  }

  #about .wrapper  main  {
    display: inline-flex;
    width: 100%;
    
  }

  #about .wrapper .container main p {
    font-size: 2.5rem;
  }


  










}