@font-face {
  font-family: 'Sophia';
  src: url("./assets/fonts/shopia.ttf") format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --nav-heigth: 10rem;
}

body {
  font-size: 1.6rem;
  background: url(<path-to-image>), #d3d3d3 50% / cover no-repeat;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#navigation .navigation-mobile {
  position: fixed;
  width: 100vw;
}

.navigation-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 1.8rem 2.5rem;
}

.logo h1 {
  color: #F4EEF7;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.logo span {
  color: #F4EEF7;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-navigation ul {
  padding: 3rem 2.5rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.menu-navigation ul li a {
  color: #F4EEF7;
  font-size: 1.8rem;
}

.menu-navigation {
  position: fixed;
  top: 0;
  right: -300px; /* Começa fora da tela */
  width: 300px;
  height: 100%;
  background-color: #d3d3d3;
  box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease; /* Transição suave da propriedade 'right' */
}

.menu-close {
  padding-top: 1.6rem;
  padding-left: 2.5rem;
  color: #F4EEF7;
  font-family: Playfair Display;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-navigation.open {
  right: 0; /* Mostra o menu quando a classe 'open' é adicionada */
}


/* --------------------------------------------- HOME --------------------------------------------- */

#home .wrapper .content {
  padding: calc(var(--nav-heigth) + 8rem) 2.5rem 0 2.5rem;
}

#home .wrapper .content header p {
  color: #494542;
  font-family: Inter;
  font-size: .8rem;
  font-weight: 200;
}

#home .wrapper .content main h1 {
  color: #000;
  font-family: Shopia, serif;
  font-size: 5rem;
  font-weight: 400;
  padding: 0 0 1rem 0;
}

#home .wrapper .content main p {
  color: #494542;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 200;
}

#home .wrapper .content .button {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

#home .wrapper .content button {
  padding: .9rem 3.3rem .9rem 3.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #494542;
}

#home .wrapper .content button a {
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #494542;
}

#home .wrapper .img-home {
  background-image: url("./assets/images/image-home.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100%;
}
